.multiple-header {
    margin-top: 174px;
    width: 100%;
    text-align: center;
    position: relative;
    overflow-x: clip;
}

.multiple-header-title {
    --underline-color: #fad5c5;
}

.multiple-header-sub-text {
    margin-top: 26px;
}


.multiple-header-images-container {
    display: flex;
    width: 870px;
    height: 570px;
    margin: 0 auto;
    margin-top: 50px;
    overflow: hidden;
    border-radius: 1rem;
    position: relative;
}

.slider {
    opacity: 0;
    position: absolute;
    inset: 0;
    transition: opacity 250ms ease-out;
    width: 100%;
    height: 100%;
}

.slider > img {
    width: 100%;
    height: 100%;
}

.slider.visible {
    opacity: 1;
}

.multiple-dots {
    display: flex;
    gap: 25px;
    width: max-content;
    margin: 0 auto;
    margin-top: 50px;
}

.multiple-dot {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 1px solid var(--theme-color);
    cursor: pointer;
    position: relative;
    display: grid;
    place-items: center;
}

.multiple-dot::after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    background-color: var(--theme-color);
    border-radius: 50%;
    transition: 350ms ease-in-out;
}


.multiple-dot.active::after {
    width: 10px;
    height: 10px;
}

.blob-container-6 {
    --x: 0;
    --y: 0;
    --posY: 0;
    animation-duration: 30s;
}



@media screen and (max-width: 1070px) {
    .multiple-header-images-container {
        width: 570px;
        height: 350px;
    }
}

@media screen and (max-width: 750px) {
    .multiple-header-images-container {
        width: 370px;
        height: 240px;
    }
}