.section-on-every-page {
    margin-top: 233px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-x: clip;
    gap: 145px;
}

.section-instruction {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom right, #2519cd, #6a33f5);
    display: grid;
    place-items: center;

    box-shadow: 0 2px 15px 2px rgba(0,0,0,0.2);
}

.section-title {
    margin-top: 37px;
}

.section-title {
    --underline-color: #fdf3c8;
}

.section-sub-text {
    margin-top: 43px;
    font-size: 24px;
    text-align: center;
}


.dropdown-search-and-images > img {
    width: 100%;
    aspect-ratio: 4 / 3 ;
    object-fit: cover;
    object-position: top;
    box-shadow: 0 0 15px 2px rgba(0,0,0,0.1);
    border-radius: 0.25rem;
}

.dropdown-search-and-images > p {
    font-size: 16px;
    margin-top: 19px;
    text-align: center;
    color: var(--theme-color);
    font-weight: 900;
}

.dots {
    margin-top: 45px;
    display: flex;
    gap: 25px;
    align-items: center;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.dot {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 1px solid var(--theme-color);
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot::after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: var(--theme-color);

    transition: 350ms ease-in-out;
}

.dot.active::after {
    width: 100%;
    height: 100%;
}

.blob-container-5 {
    --x: 30;
    --y: 0;
    --posY: 150;
    animation-duration: 30s;
}


@media screen and (max-width: 1550px) {
    .section-on-every-page {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .dropdown-search-and-images {
        margin-top: 30px;
    }

    .section-instruction {
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    .dropdown-search-and-images > img {
        width: 500px;
    }
}

@media screen and (max-width: 600px) {
    .dropdown-search-and-images > img {
        width: 300px;
    }

    .section-on-every-page {
        margin-top: 133px;
        gap: 100px;
    }

    .dropdown-search-and-images {
        margin-top: 30px;
    }

}

@media screen and (max-width: 500px) {
    .section-sub-text {
        font-size: 14px;
    }
}