@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --theme-color: #090336;
    --button-color: #2319cc;
    --subdue-color: #8c919e;
}

ul {
    list-style-type: none;
}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.container {
    padding-left: 135px;
    padding-right: 135px;
    max-width: 1950px;
    width: 100%;
    overflow-x: clip;
    position: relative;
}

body {
    overflow-x: clip;
    position: relative;
    width: 100%;
}

.title {
    font-size: 48px;
    color: var(--theme-color);
    position: relative;
    width: max-content;
    margin: 0 auto;
}

.title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -3%;
    width: 106%;
    height: 20px;
    background-color: var(--underline-color, rgb(239, 176, 136));
    z-index: -1;
}

.buy-theme-btn {
    cursor: pointer;
    transition: 250ms ease-in-out;
}

.buy-theme-btn:hover {
    transform: translateY(-5px);
    background-color: #0d00ff;
}


@media screen and (max-width: 1650px) {
    .nav-link.need-help {
        display: none;
    }

    .container {
        padding: 0 50px;
    }
}

@media screen and (max-width: 1280px) {
    .container {
        padding: 0 50px;
    }
}

@media screen and (max-width: 850px) {
    .logo-and-nav {
        gap: 20px;
    }

    .title {
        font-size: 32px;
    }
    
    .dropdown-burger {
        display: flex;
    }

    .nav-links {
        opacity: 0;
        pointer-events: none;


        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 5;
        margin-left: 0;
        transform: scale(0);
        
        transform-origin: top left;
        transition: 500ms ease-in-out;
    }

    .nav-links.active {
        opacity: 1;
        transform: scale(1);
        pointer-events: all;
    }

    .log-and-buy {
        display: flex;
    }

    .log-and-buy > .change-log-btn {
        font-size: 14px;
    }

    .log-and-buy > button {
        display: block;
    }

    .logo {
        width: 100px;
        height: 21px;
        fill: var(--theme-color);
        color: var(--theme-color)
    }
}

@media screen and (max-width: 800px) {
    .title {
        font-size: 32px;
    }

    .title::after {
        height: 12px;
    }
}

@media screen and (max-width: 550px) {
    .container {
        padding: 0 15px;
    }

    .title {
        font-size: 26px;
    }
}

@media screen and (max-width: 400px) {
    .title {
        font-size: 20px;
    }
}